:root {
    --dark-grey: #343642;
    --grey: #979C9C;
    --red: #962D3E;
    --off-white: #F2EBC7;
    --blue: #348899;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--off-white);
    background-color: var(--dark-grey);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--red);
    border: 2px solid var(--blue);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

label {
    color: var(--off-white);
    font-weight: bold;
}

.character-amount-container {
    display: flex;
}

.passwordDisplay {
    font-family: 'Courier Prime', monospace;
    margin: 2rem;
    padding: 1rem;
    color: var(--dark-grey);
    background-color: var(--off-white);
    border-radius: .5rem;
    height: 5rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border: 2px solid var(--dark-grey);
}

.number-input {
    width: 2rem;
}

.btn {
    grid-column: span 2;
    color: var(--off-white);
    background-color: transparent;
    border: 2px solid var(--blue);
    padding: .5rem 1rem;
    margin-top: 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.btn:hover {
    background-color: #FFFFFF33;
}